doctype html
html(lang="ru-RU")
	head
		title ZATA-GULP
		link(rel="stylesheet" type='text/css' href="static/css/main.css")
	body

	script(src="static/js/libs.min.js")
	script(src="static/js/main.js")